@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libertinus+Math&family=Libertinus+Mono&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body{
    background: #c3c3c3;
}

nav .menu{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 32px;
    border: none;
    background: none;
    cursor: pointer;
}

.sidebar {
    background: #042331;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
}

.sidebar.showSidebar {
    transform: translateX(0%);
}


.sidebar .heading{
    color: #fff;
    text-decoration: underline;
    text-align: center;
    padding: 30px;
    background: #2d7191;
}

.sidebar ul{
    margin: 20px;
}

.sidebar ul li{
    list-style-type: none;
    padding: 10px;
}

.sidebar ul li:hover{
    background: #646464;
    border-radius: 5px;
    transition: all 0.5s;
}

.sidebar ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li a i{
    margin-right: 10px;
}

.sidebar .showSidebar{
    transform: translateX(0%);
}